* {
    margin:0;
    padding:0;
}

body {
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

canvas {
    border:1px solid black;
}

.control {
    position: absolute;
    top: 5;
    left: 5;
    display: flex;
}

.control * {
    margin-right: 1rem;
}
